@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
}


/* Fonts*/
* {
    font-family: 'Glegoo', helvetica, sans-serif;
}

.home-title,
.msg h2 {
    font-family: 'Lobster';
    font-size: 2em;
}

.msg p {
    font-size: .8em;
}

.book,
.join {
    font-size: 18px;
}

footer p {
    font-size: 1.2em;
}



/* Image declerations */
.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

/* Centering */
nav a,
.button-box,
#hero-msg h1,
#hero-msg h4,
main section {
    text-align: center;
}

.home-title {
    margin-top: 10px;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.book,
.join {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.icon {
    padding-top: 10px;
}

.msg p {
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img{
    border: #354B65 solid 10px;
}

main section img {
    box-sizing: border-box;
}

/* Color for texts and backgrounds */
body {
    background-color: #EBF3F7;
}

header {
    background-color: #f7dd75;
}

nav a {
    color: #354B65;
}

nav a:hover {
    background-color: #354B65;
    color: #EBF3F7;
}

h1,
h4,
h2 {
    color: #354B65;
}

.book {
    background-color: #f7dd75;
    color: #354B65
}

.join {
    background-color: #354B65;
    color: #EBF3F7;
}

.join:hover {
    color: #354B65;
    background-color: #EBF3F7;
}

.book:hover {
    background-color: #354B65;
    color: #EBF3F7;
}

#background {
    background-color: #354B65;
}

.msg {
    background-color: #EBF3F7;
    color: #354B65;
}

footer {
    background-color: #f7dd75;
}

footer a,
footer p {
    color: #557EB1;
}

footer a:hover {
    color: #557EB1;
}

/* Removing underline for links */
nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}