@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
/* ^ PARAGRAPH TEXT ^ */
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oregano:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #272727;
  --secondary-color: #799496;
  --accent1-color: #f3f9d2;
  --accent2-color: #af3800;
  --accent3-color: #fe621d;
  --paragraph-font: "Poppins";
}

/* * {
  border: 0.5px black solid;
} */

body {
  margin: 0;
  background-color: var(--secondary-color);
}

h1,
h2 {
  font-family: "Oregeno", "Caveat Brush";
}

p,
ul {
  font-family: "Poppins";
  text-decoration: none;
}

/* Header Css */

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--primary-color);
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: black 5px solid;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav_links {
  border-radius: 100px;
  border: solid black 2.5px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  color: var(--accent1-color);
  background-color: var(--accent2-color);
  text-decoration: none;
  font-family: var(--paragraph-font);
}

.nav_links:hover {
  background-color: var(--accent3-color);
  color: var(--primary-color);
}

#logo_link {
  align-self: center;
  justify-self: center;
}

/* Footer Css */

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}

footer a {
  text-decoration: none;
  color: var(--accent1-color);
}

footer a:hover {
  color: var(--secondary-color);
}

footer img {
  max-width: 50px;
}

/* Everything Below is Home Page */

#hero-image-home {
  width: 100%;
}

#who-am-i {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  border: solid black 5px;
  margin: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  font-size: larger;
  gap: 20px;
  align-items: center;
}

#who-am-i div {
  grid-column: 1/2;
}

#who-am-i-image {
  grid-column: 2/3;
}

/* Hero Image main */
#hero-image-home {
  border-bottom: black 5px solid;
}

/* The journey section */

#my-journey-box {
  padding: 30px;
  text-align: center;
  font-size: larger;
  background-color: var(--accent1-color);
  color: var(--primary-color);
}

#my-journey-box h2:nth-of-type(1),
#my-journey-box h2:nth-of-type(3) {
  text-align: left;
  margin-left: 50px;
}

#my-journey-box h2:nth-of-type(2),
#my-journey-box h2:nth-of-type(4) {
  text-align: right;
  margin-right: 50px;
}

/* Quick Links at the bottom */

#bottom-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  gap: 200px;
  text-align: center;
  justify-self: center;
}

#bottom-home-left {
  grid-column: 1/2;
  background-color: var(--accent2-color);
  border: black solid 5px;
  padding: 5px;
}

#bottom-home-right {
  grid-column: 2/3;
  background-color: var(--accent2-color);
  border: black solid 5px;
}

.bottom_links {
  border-radius: 100px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  color: var(--accent1-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border: solid black 2.5px;
}

.bottom_links:hover {
  background-color: var(--accent1-color);
  color: var(--primary-color);
}

/* Everything below is Sub-Page 1 */

.bold-me {
  font-weight: bold;
}

#sub-one-top-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  margin: 25px;
}

#why-learn-guitar-box {
  width: 75%;
  border-radius: 100px;
  border: black solid 5px;
  padding: 25px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

#why-learn-guitar-box h1 {
  margin-left: 15px;
}

#why-learn-guitar-box p {
  margin: 10px;
}

#sub-one-top-box img {
  border: black 5px solid;
}

/* Block Section for the reasons why to learn guitar */

#boost-your-mental-health-box h1,
#join-a-community-box h1,
#enhance-your-knowledge-and-skills-box h1 {
  text-align: center;
}

#boost-your-mental-health-box p,
#join-a-community-box p,
#enhance-your-knowledge-and-skills-box p {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#join-a-community-box {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 2fr;
}

#join-a-community-box img {
  border: black solid 5px;
}

#boost-your-mental-health-box,
#enhance-your-knowledge-and-skills-box {
  margin: 50px;
}
/* Bottom of sub-one link section */

#sub-one-bottom-box {
  background-color: var(--accent2-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  border: var(--primary-color) solid 5px;
  border-radius: 100px;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#interested-in-learning-box {
  border: var(--primary-color) solid 5px;
  background-color: var(--accent1-color);
  width: 150px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  text-align: center;
  margin-left: 40px;
}

#sub-one-bottom-link {
  border-radius: 100px;
  height: 30px;
  width: 100px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  background-color: var(--accent1-color);
  border: var(--primary-color) solid 5px;
  margin-right: 40px;
}

#sub-one-bottom-link p {
  margin-block-start: 0px;
  margin-block-end: 0;
  padding-top: 0.2rem;
}

#sub-one-bottom-link a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}

#sub-one-bottom-link:hover {
  background-color: var(--accent3-color);
}

.sub-two-link h2 {
  margin: 0;
}

/* Everything Below is Sub-Two */

#sub-two h1 {
  text-align: center;
}

#why-choose-my-lessons {
  margin: 35px;
}

#rates-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 7%;
  gap: 7%;
}

#lesson-rates-box {
  border-radius: 75px;
  border: black solid 5px;
  padding: 25px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

#flexibility-box {
  border-radius: 75px;
  border: black solid 5px;
  padding: 25px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

#flexibility-box h2,
#lesson-rates-box h2 {
  text-align: center;
}

#lessons-arent-for-you {
  margin: 35px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  text-align: center;
}

.helpfull-recourses {
  text-decoration: none;
  color: var(--accent2-color);
}

.helpfull-recourses:hover {
  color: #fe621d;
}

#lessons-arent-for-you img {
  border: 5px solid var(--primary-color);
}
